* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 3rem;
  background: #222;
  color: #ccc;
  font-family: sans-serif;
  line-height: 1.5;
  overflow: hidden;
}

.content {
  max-width: 50rem;
  margin: auto;
  transition: opacity 500ms ease-in-out;
}

.content--hidden {
  opacity: 0;
}

#media-controls {
  text-align: center;
  margin: 1rem;
}

.media-page-bottom-bar {
  position: fixed;
  display: block;
  z-index: 2;

  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  text-align: right;
}

#media-page-start-button:not([disabled]) {
  cursor: pointer;
}

.media-page-play-toggle,
.dom-logger-toggle {
}

.media-page-bottom-bar button:not([disabled]) {
  cursor: pointer;
}

/* DOM Logger */

.dom-logger {
  position: fixed;

  width: 100%;
  height: 40vh;
  bottom: 0;
  left: 0;

  font-size: small;
  overflow: auto;

  opacity: 0;
  transition: opacity 250ms ease-in-out;
  z-index: -99999; /* classic */
  background: rgba(0, 0, 0, 0.5);
}

.dom-logger--visible {
  z-index: 1;
  opacity: 1;
}

.dom-logger .group > * {
  margin: 0;
}

.dom-logger .group {
  padding: 0.5em;
  border-bottom: thin solid #333;
}

/* Media Page visual pool elements */

.media-page-frame {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 250ms ease;
}

/* removed when media page starts */
.media-page-frame--hidden {
  opacity: 0;
  z-index: -1;
}

.media-page-visual-element {
  display: block;
  position: absolute;
  overflow: visible;
  line-height: 0;
}

.media-page-visual-element__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* provisional styles just to make the text visible in the demo */
.media-page-visual-element__txt {
  white-space: nowrap;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  line-height: 0.8;
}
